{
  "parser": "babel-eslint",
  "extends": [ "standard" ],
  "plugins": [
    "flow-vars"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "generator-star-spacing": 0,
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}
